# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environments
.venv/
env/
venv/

# IDE
.idea/
.vscode/

# Secrets
.env
.env.*

# Bytecode
*.egg-info/
*.egg
*.log
db.sqlite3

# OS
.DS_Store
Thumbs.db
